.boundary {
    border: thick;
    color: green;
    border: 1px solid #333;
}

.parent {
    height: 100%;
    overflow: auto;
}

table {
    width: 100%;
}

.margin-layout {
    padding: 2.5em;
}
