.parent {
    height: 100%;
    width: 100%;
}

// .border {
//     // border: medium dashed green;
// }

.space {
    padding: 1em;
    padding-left: 10em;
    padding-right: 10em;
}

.table-prop {
    overflow: auto;
}

table {
    width: 100%;
}

.recovered-color {
    stroke: green;
}
