/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  background: #f5f5f5;
}
*::-webkit-scrollbar-thumb {
  background-color: #f5f5f5;
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0.3);
}

.ct-series-a .ct-point,
.ct-series-a .ct-line,
.ct-series-a .ct-bar,
.ct-series-a .ct-slice-donut {
  stroke: blue;
}


